section#front-page{
    min-height: 700px;
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
}

section#front-page > div{
    display: flex;
    width: 100%;
}

.front-page__socials{
    display: flex;
    align-items: center;
}

.front-page__socials > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page__socials__links{
    list-style-type: none;
}

.front-page__socials__links > li {
    margin-top: var(--space-bigger);
}

.front-page__socials__links > li > a {
    display: flex;
    color: var(--color-primary);
    height: 40px;
    width: 40px;
}

.front-page__socials__links > li > a > svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.front-page__socials__line{
    margin-top: var(--space-bigger);
    width: 4px;
    height: 300px;
    background-color: var(--color-primary);
}

.front-page__text{
    margin-top: var(--space-extreme);
    display: flex;
    justify-content: center;
    padding: 0 var(--space-big);
}

.front-page__text > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page__text__heading{
    max-width: 600px;
    text-align: center;
}

.front-page__text__link{
    margin-top: var(--space-extreme);
}

.front-page__content{
    flex: 1;
}

.front-page__content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page__stack{
    margin-top: var(--space-extreme);
    flex: 1;
    display: flex;
    justify-content: center;
}

.front-page__stack > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page__stack__plus-sign{
    margin-top: var(--space-bigger);
}

.front-page__stack__react{
    animation: rotate 15s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.front-page__stack__react > div > svg {
    width: 100px;
}

.front-page__stack__plus-sign > div > svg {
    width: 40px;
    fill: var(--color-primary);
}

.front-page__stack__django > div > svg{
    width: 200px;
}

@media all and (min-width: 800px){
    section#front-page{
        min-height: 600px;
    }

    .front-page__text{
        margin-left: var(--space-bigger);
    }

    .front-page__text > div {
        align-items: flex-start;
    }

    .front-page__text__heading{
        text-align: left;
    }

    .front-page__content > div {
        flex-direction: row;
    }

    .front-page__stack__react > div > svg {
        width: 200px;
    }
    
    .front-page__stack__plus-sign > div > svg {
        width: 60px;
    }
    
    .front-page__stack__django > div > svg{
        width: 350px;
    }
}