section#projects{
}

section#projects > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section__heading{
    width: 100%;
}

.section__content{
    margin-top: var(--space-big);
    padding: 0 var(--space-mid);
}

.section__closing-tag{
    margin-top: var(--space-mid);
}

.section__closing-tag__element{
    color: var(--fc-light);
    font-weight: var(--fw-normal);
}

.section__content__gallery{
    margin-top: var(--space-extreme);
}

.section__content__gallery__project{
    color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: var(--space-extreme) var(--space-bigger);
    box-shadow: 0 0 20px 5px rgb(228, 228, 228);
}

.section__content__gallery__project > div {
    display: flex;
    flex-direction: column;
}

.section__content__gallery__project__links > div{
    display: flex;
    justify-content: flex-end;
}

.section__content__gallery__project__name{
    margin-top: var(--space-big);
    font-weight: var(--fw-big);
}

.section__content__gallery__project__name__element{
    font-size: var(--fs-big);
}

.section__content__gallery__project__description{
    margin-top: var(--space-big);
}

.section__content__gallery__project__tech{
    margin-top: var(--space-big);
}

@media all and (min-width: 800px){  
    .section__heading > div > p {
        margin-top: var(--space-bigger);
        font-size: var(--fs-big);
    }

    .section__content{
        margin-top: var(--space-bigger);
    }

    .section__closing-tag{
        margin-top: var(--space-big);
    }
}