section#projects{
}

section#projects > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section__heading{
    width: 100%;
}

.section__content{
    margin-top: var(--space-big);
    padding: 0 var(--space-mid);
}

.section__closing-tag{
    margin-top: var(--space-mid);
}

.section__closing-tag__element{
    color: var(--fc-light);
    font-weight: var(--fw-normal);
}

.section__content__gallery{
    margin-top: var(--space-extreme);
}

.section__content__gallery > div {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: var(--space-big);
}

.section__content__gallery__project{
    color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: var(--space-bigger) var(--space-big);
    box-shadow: 0 0 20px 5px rgb(228, 228, 228);
    max-width: 500px;
}

.section__content__gallery__project > div {
    display: flex;
    flex-direction: column;
}

.section__content__gallery__project__links > div{
    display: flex;
    justify-content: flex-end;
}

.section__content__gallery__project__name{
    margin-top: var(--space-big);
    font-weight: var(--fw-big);
}

.section__content__gallery__project__name__element{
    font-size: var(--fs-big);
}

.section__content__gallery__project__description{
    margin-top: var(--space-big);
    height: 150px;
}

.section__content__gallery__project__tech{
    margin-top: var(--space-big);
}

.section__content__gallery__project__tech > div {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
    grid-gap: var(--space-small) 0;
}

.section__content__gallery__project__tech__item{
    font-size: var(--fs-smaller);
    background-color: rgb(225, 225, 225);
    border-radius: 30px;
    padding: 10px 14px;
    font-weight: var(--fw-normal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__content__gallery__project__tech__item:not(:first-child){
    margin-left: 4px;
}

.section__content__gallery__project__link{
    margin-top: var(--space-bigger);
    font-size: var(--fs-small);
}

@media all and (min-width: 800px){  
    .section__heading > div > p {
        margin-top: var(--space-bigger);
        font-size: var(--fs-big);
    }

    .section__content{
        margin-top: var(--space-bigger);
    }

    .section__content__gallery__project{
        padding: var(--space-extreme) var(--space-bigger);
    }

    .section__closing-tag{
        margin-top: var(--space-big);
    }
}