@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600&display=swap');

/* section styles */
@import url('./front-page.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./contact.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    /* variables */
    /* margins, paddings */
    --space-small: 5px;
    --space-mid: 10px;
    --space-big: 15px;
    --space-bigger: 25px;
    --space-extreme: 50px;

    /*fonts*/
        /*font-size*/
    --fs-smaller: 12px;
    --fs-small: 18px;
    --fs-normal: 22px;
    --fs-big: 25px;
    --fs-biggest: 30px;
        /*font-family*/
    --ff-default: 'Montserrat', sans-serif;
        /*font-color*/
    --fc-light: rgb(136, 136, 136);
    --fc-normal: rgb(55, 55, 55);
        /*font-weight*/
    --fw-normal: 500;
    --fw-big: 600;

    /* colors */
    --color-primary: rgb(2, 123, 253);

}

html{
    scroll-behavior: smooth;
}

/* default styles */
.link{
    text-decoration: none;
}

.link_nav{
    color: var(--fc-normal);
    padding: var(--space-small) 0;
}

.link_nav_selected{
    border-bottom: 3px solid var(--color-primary);
}

.link_nav:not(.link_nav_selected):hover{
    border-bottom: 3px dotted var(--color-primary);
}

.link_btn{
    display: inline-block;
    padding: var(--space-big) var(--space-bigger);
    border-radius: 8px;
    
}

.link_btn-filled{
    background-color: var(--color-primary);
    color: white;
}

.link_btn-unfilled{
    display: block;
    color: var(--color-primary);
    border: 1px solid currentColor;
    width: 100%;
}

.heading{
    color: var(--fc-normal);
}

.heading > .colored {
    color: var(--color-primary);
}

.heading_mid{
    font-size: 35px;
    font-weight: var(--fw-big);
}

.heading_big{
    max-width: 350px;
    font-size: 35px;
    font-weight: var(--fw-big);
}

.paragraph{
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    line-height: 55px;
}

.paragraph:not(:first-child){
    margin-top: var(--space-big);
}

.paragraph_small{
    line-height: 30px;
    font-size: var(--fs-small);
}

/* page styles */
body{
    font-size: var(--fs-normal);
    font-family: var(--ff-default);
}

#header{
    display: none;
    justify-content: center;
    padding: var(--space-big) var(--space-bigger);
}

#header > div{
    max-width: 1700px;
}

.header__nav__links > div > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header__nav__links > div > ul > li {
    font-size: var(--fs-normal);
    font-weight: 400;
}

.header__nav__links > div > ul > li:not(:first-child){
    margin-left: var(--space-bigger);
}

.header__nav__links__item__link > .link-number{
    color: var(--color-primary);
}

.section{
    display: flex;
    justify-content: center;
    padding: 0 var(--space-mid);
    margin-top: var(--space-extreme);
}

.section:last-child{
    margin-bottom: 100px;
}

.section > div {
    width: 100%;
    max-width: 1000px;
    padding: 0 var(--space-small);
}

.section__closing-tag{
    margin-top: var(--space-bigger);
}

.section__closing-tag > div{
    display: flex;
    justify-content: flex-end;
}

.section__closing-tag__element{
    font-size: var(--fs-big);
}

@media all and (min-width: 800px){
    .paragraph{
        font-size: var(--fs-big);
    }

    .paragraph_small{
        font-size: var(--fs-normal);
    }

    .heading_mid{
        font-size: 40px;
    }

    .heading_big{
        max-width: 500px;
        font-size: 45px;
    }

    #header{
        display: block;
    }

    .section__closing-tag__element{
        font-size: var(--fs-biggest);
    }
}

